*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

$font-xsmall: 1.4em;
$font-small: 1.8em;
$font-medium: 2.4em;
$font-medium-big: 3.4em ;
$font-big: 4.8em;
$font-large: 7.2em;


body {
    background: $dark-tech;
    font-family: $roboto;
    margin: 0 auto;
    position: relative;

}

header, section, main {
    max-width: 2500px;
}


header {
    width: 100%;
    min-height: 60px;
    position: fixed;
    background: $dark-tech;
    top: 0px;
    z-index: 5;
}

nav{
    color: $inactive-green;
    font-family: $roboto;
    width: 100%;
    height: 100%;
    display: flex;
    padding: .5em;
    font-size: $font-medium;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $inactive-green;
    
    &:active{
        color: $inactive-green;
    }
}

h1,h2{
    font-family: $roboto;
    color: $active-green;
    font-weight: 500;
}

h1{
    font-size: $font-large;
    color: $active-green;
}

h2{
    font-size: $font-big;
}

h3{
    font-family: $roboto;
    color: $active-green;
    font-weight: 400;
}

p{
    font-size: $font-small;
    color: $inactive-green;
}
span{
    color: $active-green;
}
section{

    min-height: calc(900px + 10vh);

    // align-items: center;
    // display: flex;
}
.mobile-cover{
    display: none;
}
.project-page{
    display: none;
}
.body-black{
    display: none;
    height: 100%;
    width: 100%;
    z-index:9;
    background: rgb(0, 0, 0, .7);
    position: absolute;
}

@media screen and (max-width: 994px){
    h1 {
        font-size: calc($font-big - 1vw);
    }
    h2{

    }
    h3{

    }
    p{
        font-size: $font-xsmall;
    }
}

@media screen and (max-width: 516px){
    h1{
        font-size: $font-medium-big;
    }

    h3{
        font-size: 14pt;
    }
}