@font-face {
  font-family: "Roboto", sans-serif;
  src: url("./Roboto-Light.ttf") format("truetype");
  src: url("./roboto-light-webfont.woff") format("woff");
  src: url("./roboto-light-webfont.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #002855;
  font-family: "Roboto";
  margin: 0 auto;
  position: relative;
  overflow-x: hidden !important;
}

header, section, main, footer, nav {
  max-width: 2500px;
  margin: 0 auto;
}

li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  width: 100%;
  min-height: 60px;
  background: #002855;
  z-index: 5;
}

nav {
  color: #38B000;
  font-family: "Roboto";
  padding: 0.5em;
  font-size: 2.4em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #38B000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a:active {
  color: #38B000;
}

h1, h2 {
  font-family: "Roboto";
  color: #70e000;
  font-weight: 500;
}

h1 {
  font-size: 7.2em;
  color: #70e000;
}

h2 {
  font-size: 4.8em;
}

h3 {
  font-family: "Roboto";
  color: #70e000;
  font-weight: 400;
}

p {
  font-size: 2.4em;
  color: #38B000;
}

span {
  color: #70e000;
}

section {
  height: 900px;
  min-height: 100vh;
}

.mobile-cover {
  display: none;
}

.project-page {
  display: none;
}

.body-black {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
  /* From https://css.glass */
  background: rgba(0, 40, 85, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: red;
  height: 100px;
  width: 100%;
  background: #001845;
}
footer img {
  width: 45px;
}
footer .dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 994px) {
  h1 {
    font-size: calc(4.8em - 1vw);
  }
  p {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 516px) {
  h1 {
    font-size: 3.4em;
  }
  .cover-section {
    font-size: 4.8em;
  }
  h3 {
    font-size: 14pt;
  }
}
.nav {
  position: static;
  display: flex;
  height: 100px;
  z-index: 55;
  box-shadow: 2px 2px 3px #001845;
  opacity: 0.9;
  width: 100%;
}
.nav .navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
  flex: 1;
  align-items: center;
}

.logo-container {
  align-items: center;
  display: flex;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.logo-container h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo-container h3:hover {
  color: #70e000;
}

.navigation-container {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.navigation-container .nav-resume {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.navigation-container .nav-resume .external-icon {
  width: 20px;
  height: 20px;
  transform: translate(50%, -40%);
  transition: all 0.2s ease;
}
.navigation-container .nav-resume:hover .external-icon {
  scale: 1.1;
}
.navigation-container .nav-menu {
  display: none;
}
.navigation-container li {
  padding: 0rem 2rem;
}
.navigation-container .nav-links {
  transition: all 0.1s ease-in;
  padding-bottom: 0.2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation-container .nav-links:hover, .navigation-container .nav-links:focus {
  color: #70e000;
  border-bottom: 0.3px solid #70e000;
}

@media screen and (max-width: 994px) {
  .nav .nav-menu {
    display: block;
    width: 25px;
    cursor: pointer;
  }
  .nav .nav-links {
    display: none;
  }
  .nav .nav-resume {
    display: none;
  }
  header h1 {
    font-size: 14pt;
  }
  header a {
    font-size: 14pt;
  }
}
@media screen and (max-width: 602px) {
  .nav {
    height: 80px;
  }
  .navigation-container li:not(:first-child) {
    padding: 0;
  }
}
.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction .intro {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.introduction .intro-top {
  flex: 1;
}
.introduction .intro-bottom {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.introduction .intro-bottom h3 {
  font-weight: 600;
  font-size: 2.4em;
  color: #38B000;
  flex: 1;
}

@media screen and (max-width: 844px) {
  h1 {
    font-size: 7.2em;
  }
  h2 {
    font-size: 4.8em;
  }
}
@media screen and (max-width: 799px) {
  .introduction .intro {
    padding-top: 6rem;
    width: 95%;
  }
  h2 {
    font-size: 2.4em;
  }
}
.about {
  height: 100%;
  padding-bottom: 2rem;
}
.about .about-body {
  width: 90%;
  min-height: 70%;
  margin: 0 auto;
  padding: 0.6rem;
  gap: 2rem;
  display: flex;
}
.about .about-body .about-top {
  flex: 1;
}
.about .about-body .stack-container {
  flex: 1;
  display: flex;
  border: 2px solid #70e000;
  border-radius: 10px;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.about .about-body .stack-container legend {
  padding: 0px 2em;
}
.about .about-body .stack-container legend p {
  color: #70e000;
}
.about .about-body .stack-container .card {
  width: 100%;
  background: #001845;
  color: #38B000;
  font-size: 1.8em;
  padding: 0.5em;
  border-radius: 10px;
  min-height: 20%;
}
.about .about-body .stack-container .card p {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1112px) {
  .about .about-body {
    flex-direction: column;
  }
  .about .about-body .about-top p {
    font-size: 17px;
  }
  .about .about-body .stack-container legend p {
    font-size: 17px;
  }
}
.project {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.project .project-container {
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
  gap: 1rem;
}
.project .project-container .project-name:nth-child(4) {
  text-align: right;
}
.project .project-container .cover {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid #38B000;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.project .project-container .cover .img-cover {
  min-width: 320px;
  max-width: 750px;
  flex: 1;
}
.project .project-container .cover .text-cover {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project .project-container .cover .text-cover .cover-text {
  flex: 2;
}
.project .project-container .cover .text-cover .cover-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex: 1;
  align-items: center;
}
.project .project-container .cover .text-cover .cover-links .cover-link {
  transition: all 0.2s ease;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  border: 2px solid transparent;
  flex: 0 1 250px;
  gap: 1rem;
}
.project .project-container .cover .text-cover .cover-links .cover-link img {
  width: 45px;
  height: 45px;
}
.project .project-container .cover .text-cover .cover-links .cover-link p {
  font-size: 15px;
}
.project .project-container .cover .text-cover .cover-links .cover-link:hover {
  border: 2px solid #70e000;
}
.project .project-container .cover .text-cover .cover-links .cover-link:hover p {
  color: #70e000;
}
.project .project-container .cover:nth-child(7) {
  border-bottom: 2px solid transparent;
  padding-bottom: 0;
}

@media screen and (max-width: 1435px) {
  .project .cover .text-cover .cover-text {
    font-size: clamp(7px, 0.6vw, 0.8vw);
  }
  .project .cover .text-cover .cover-links .cover-link p {
    font-size: 10pt;
  }
}
@media screen and (max-width: 1165px) {
  .project .project-container .cover .text-cover .cover-links {
    border: 2px solid transparent;
    flex: 0;
  }
  .project .project-container .cover .text-cover .cover-links .cover-link {
    font-size: 4px;
  }
}
@media screen and (max-width: 994px) {
  .project .project-container .project-name h2 {
    font-size: 14pt;
  }
}
@media screen and (max-width: 844px) {
  .project-container .cover-section {
    font-size: 24pt;
  }
  .project-container .cover .text-cover .cover-text p {
    line-height: 2.5;
  }
}
@media screen and (max-width: 770px) {
  .project .project-container .project-name {
    margin-top: 2rem;
    text-align: center;
  }
  .project .project-container .project-name a {
    font-size: 12px;
  }
  .project .project-container .project-name:nth-child(4) {
    text-align: center;
  }
  .project .project-container .cover {
    align-items: center;
    flex-direction: column;
  }
  .project .project-container .cover .text-cover {
    display: none;
  }
  .project .project-container .cover .img-cover {
    min-width: 275px;
    max-width: 275px;
  }
  .project .project-container .cover .mobile-cover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project .project-container .cover .mobile-cover .three-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .project .project-container .cover .mobile-cover .three-dots .dots {
    width: 10px;
    height: 10px;
    display: block;
    background: #38B000;
    border-radius: 50%;
    transition: background 0.3s ease;
  }
  .project .project-container .cover .mobile-cover .three-dots .dots:hover {
    background: #70e000;
  }
  .project .project-container .cover .cover-qrcode {
    content: url(../../assets/cover/qrcode/cover-qrcode-fixed.jpg);
    transition: all 0.3s ease;
  }
  .project .project-container .cover .cover-qrcode:hover {
    transform: scale(1.01);
    filter: drop-shadow(2px 4px 6px #5B3288);
  }
  .project .project-container .cover .cover-shopee {
    content: url(../../assets/cover/shopee/cover-shopee-fixed.jpg);
    transition: all 0.3s ease;
  }
  .project .project-container .cover .cover-shopee:hover {
    transform: scale(1.01);
    filter: drop-shadow(2px 4px 6px #EC6D19);
  }
  .project .project-container .cover .cover-alktunes {
    content: url(../../assets/cover/alktunes/cover-alktunes-fixed-mobile.jpg);
    transition: all 0.3s ease;
  }
  .project .project-container .cover .cover-alktunes:hover {
    transform: scale(1.01);
    filter: drop-shadow(2px 4px 6px #000000);
  }
}
.activity {
  margin-top: 10rem;
}
.activity .activity-container {
  width: 90%;
  margin: 0 auto;
}
.activity .activity-container h1 {
  padding-bottom: 10%;
}
.activity .activity-container .activity-body {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.activity .activity-container .activity-body h2 {
  font-size: 2.4em;
}
.activity .activity-container .activity-body .activity-img {
  min-width: 150px;
  max-width: 250px;
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .activity {
    min-height: 500px;
  }
  .activity .activity-body {
    border-bottom: 2px solid #70e000;
    padding-bottom: 2rem;
    flex-direction: column;
  }
  .activity .activity-body h2 {
    font-size: 1.8em !important;
  }
}
.project-page {
  position: absolute;
  background: #001845;
  width: 100%;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  gap: 2rem;
}
.project-page .project-head {
  display: flex;
  justify-content: center;
  height: 90px;
  align-items: center;
  width: 100%;
  transition: border 0.3s ease-in;
  width: 90%;
  align-self: center;
}
.project-page .project-head .project-escape {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem;
  gap: 0.9rem;
  border: 2px solid #38B000;
  transition: all 0.3s ease-in;
  min-width: 100px;
}
.project-page .project-head .project-escape .escape-icon {
  width: 10px;
  height: 10px;
}
.project-page .project-head .project-escape:hover {
  border: 2px solid #70e000;
}
.project-page .project-head .project-escape:hover p {
  color: #70e000;
}
.project-page .project-head .project-nav {
  flex: 1;
  display: flex;
  justify-content: right;
}
.project-page .project-head .project-nav .nav-con {
  display: flex;
  gap: 2rem;
}
.project-page .project-head .project-nav .nav-con .go-previous {
  border: 2px solid transparent;
  padding: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in;
  min-width: 100px;
}
.project-page .project-head .project-nav .nav-con .go-previous:hover {
  border: 2px solid #70e000;
}
.project-page .project-head .project-nav .nav-con .go-previous:hover p {
  color: #70e000;
}
.project-page .project-head .project-nav .nav-con .go-previous img {
  width: 20px;
  height: 20px;
}
.project-page .project-head .project-nav .nav-con .go-previous img {
  transform: rotate(180deg);
}
.project-page .project-head .project-nav .nav-con .go-next {
  border: 2px solid transparent;
  padding: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease-in;
  min-width: 100px;
}
.project-page .project-head .project-nav .nav-con .go-next:hover {
  border: 2px solid #70e000;
}
.project-page .project-head .project-nav .nav-con .go-next:hover p {
  color: #70e000;
}
.project-page .project-head .project-nav .nav-con .go-next img {
  width: 20px;
  height: 20px;
}
.project-page .project-header {
  border-bottom: 2px solid #70e000;
  text-align: center;
  width: 90%;
  align-self: center;
}
.project-page .project-header .header-alktunes {
  width: 325px;
  padding-bottom: 2rem;
}
.project-page .project-header .header-shopee {
  width: 175px;
  padding-bottom: 2rem;
}
.project-page .project-header .project-img {
  width: 90%;
  padding-bottom: 1rem;
}
.project-page .project-header .project-head-text {
  font-size: 4.8em;
  padding-bottom: 1.5rem;
}
.project-page .project-body {
  padding-top: 0.5rem;
  width: 90%;
  align-self: center;
  font-size: 7pt;
  flex: 1;
}
.project-page .project-footer {
  display: flex;
}
.project-page .project-footer .cover-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 8pt;
}
.project-page .project-footer .cover-links .cover-link {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  border: 2px solid transparent;
  flex: 0 1 250px;
  gap: 1rem;
}
.project-page .project-footer .cover-links .cover-link img {
  width: 45px;
  height: 45px;
}
.project-page .project-footer .cover-links .cover-link p {
  font-size: 15px;
}
.project-page .project-footer .cover-links .cover-link:hover {
  border: 2px solid #70e000;
}
.project-page .project-footer .cover-links .cover-link:hover p {
  color: #70e000;
}
.project-page .project-footer .cover-links .cover-link img {
  width: 25px;
}
.project-page .project-splide-wrapper {
  height: 90%;
}
.project-page .project-splide-wrapper .project-splide-track {
  height: 100%;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list {
  height: 100%;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-body {
  flex: 4;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-footer {
  flex: 1;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-footer .cover-links {
  display: flex;
  align-items: center;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-footer .cover-links .cover-link {
  display: flex;
  flex-direction: column;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-footer .cover-links .cover-link img {
  width: 35px;
  height: 35px;
}
.project-page .project-splide-wrapper .project-splide-track .project-splide-list .project-splide-slide .project-footer .cover-links .cover-link .icon-text {
  font-size: 8pt;
}

.menu-mobile {
  position: absolute;
  height: 100%;
  display: none;
  min-width: 70vw;
  background: #001845;
  transform: translateX(100%);
  right: 0%;
  z-index: 100;
  display: flex;
}
.menu-mobile ul {
  padding: 1rem;
  width: 100%;
}
.menu-mobile ul .mobile-link {
  padding: 2rem 0rem;
  text-align: right;
  width: 90%;
  margin-left: auto;
  font-size: 12pt;
  position: relative;
  transition: all 0.3s ease;
}
.menu-mobile ul .mobile-link p {
  padding: 0 2rem;
}
.menu-mobile ul .mobile-link:not(:first-child) {
  cursor: pointer;
}
.menu-mobile ul .mobile-link:not(:first-child):hover {
  background: #38B000;
}
.menu-mobile ul .mobile-link:not(:first-child):hover p {
  color: #001845;
}
.menu-mobile ul .mobile-cv {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}
.menu-mobile ul .mobile-cv .external-icon {
  width: 25px;
  height: 25px;
}

.fader-right {
  opacity: 0;
  transform: "translate(0%, -50%)";
}

.about-text-top {
  opacity: 0;
}

.about-container-stack {
  opacity: 0;
  transform: translateX(20%);
  overflow: hidden;
}

.about-card-show {
  opacity: 0;
  transform: translateX(40%);
}

.proj-cover {
  opacity: 0;
  transform: translateX(-20%);
}

.proj-link {
  opacity: 0;
}

.img-cover {
  opacity: 0;
}

.anim-cover-text {
  opacity: 0;
}

.cover-link {
  opacity: 0;
  transform: translateY(20%);
}

.activity-show-cover {
  opacity: 0;
  transform: translateX(-20%);
}

.activity-img {
  opacity: 0;
  transform: translateX(20%);
}

.activity-txt {
  opacity: 0;
  transform: translateY(20%);
}

@media screen and (max-width: 700px) {
  .cover-alktunes {
    transform: trnaslateX();
  }
}
.cta-contact {
  display: none;
  transform: translate(-50%, 50%);
  left: 50%;
  position: fixed;
  background: white;
  width: 0%;
  height: 0%;
  z-index: 15;
  border-radius: 2rem;
  flex-direction: column;
  padding: 2rem;
}

.contact-header {
  justify-content: center;
  display: flex;
  width: 100%;
  opacity: 0;
}
.contact-header h1 {
  flex: 1;
  color: black;
  font-size: calc(24pt + 1vw);
}

.close-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.close-container img {
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.close-container img:hover {
  scale: 1.3;
}

.contact-body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.contact-item {
  text-align: center;
  width: 100%;
  opacity: 0;
}
.contact-item h1 {
  color: black;
  font-size: calc(24pt + 1vw);
}
.contact-item h1 a {
  text-decoration: underline;
  font-size: calc(24pt + 1vw);
}

.contact-message {
  opacity: 0;
}
.contact-message p {
  color: black;
}

@media screen and (max-width: 683px) {
  .contact-item h1 {
    font-size: 22pt;
  }
  .contact-item h1 a {
    font-size: 22pt;
  }
}
@media screen and (max-width: 423px) {
  .contact-item h1 {
    font-size: 18pt;
  }
  .contact-item h1 a {
    font-size: 18pt;
  }
}
.portfolio-head {
  display: flex;
  height: 100px;
}

.portfolio-back {
  display: flex;
  flex: 1;
  padding-left: 2rem;
}

.link-back {
  display: flex;
  align-items: center;
}
.link-back img {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}
.link-back p {
  transition: all 0.2s ease;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid transparent;
}
.link-back p:hover {
  border-bottom: 2px solid #70e000;
  color: #70e000;
}

.portfolio-download {
  flex: 1;
  padding-right: 2rem;
}

.download-link {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: right;
  gap: 2rem;
}

.external-icon {
  width: 25px;
  height: 25px;
}

.resume-container {
  border: 2px solid white;
  width: 70%;
  margin: 0 auto;
}

.pdf-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 0;
  transform: translateY(50%);
  scale: 1.4;
  box-shadow: 2px 2px 2px black;
}/*# sourceMappingURL=main.css.map */