@import '../mixins';
.about{
    height: 100%;
    padding-bottom: 2rem;

    .about-body{
        width: 90%;
        min-height: 70%;
        margin: 0 auto;
        padding: .6rem;
        
       

        gap: 2rem;
        display: flex;
        .about-top{
            flex: 1;

        }

        .stack-container{
            flex: 1;
            display: flex;
            border: 2px solid $active-green;
            border-radius: 10px;
            padding: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            legend{padding: 0px 2em; p{ color: $active-green}}

            .card{
                @include card;
                
            }

        }
        
    
    }

}

@media screen and (min-width: 1113px){
    p{
        
    }
}

@media screen and (max-width: 1112px){
    .about{
        .about-body{

            .about-top{
                p{
                    font-size: 17px;
                }
            }

            .stack-container {
                legend {
                    p {
                        font-size: 17px;
                    }
                }
            }

            flex-direction: column;
        }
    }
}