.nav{
    position: static;
    display: flex;
    // border: 2px solid black;
    height: 100px;
    z-index: 55;
    box-shadow: 2px 2px 3px $card-blue;
    opacity: .9;
    width: 100%;

    .navigation-wrapper{
        width: 100%;
        display: flex;
        justify-content: right;
        flex: 1;
        align-items: center;
    }
}


.logo-container{
    align-items: center;
    display: flex;
    min-width: fit-content;
    h3{
        width: fit-content;
        padding: 0 1rem;
        cursor: pointer;
        transition: all .3s ease;
        user-select: none;
        &:hover{
            color: $active-green;
        }
    }
}


.navigation-container{
    display: flex;
    height: fit-content;
    text-align: right;
    min-width: fit-content;
    padding: 0 2rem;
    justify-content: space-evenly;
    align-items: center;
    
    .nav-menu{
        display: none;
    }
    li{
        padding: 0rem 2rem;
       &:not(:first-child){
        // padding: 0rem 2rem;
       }
    }
    .nav-links{
        transition: all .1s ease-in;
        padding-bottom: .2px;
        cursor: pointer;
        user-select: none;
        
        &:hover, &:focus{
            color: $active-green;
            border-bottom: .3px solid $active-green;
        }
    }
}

@media screen and (max-width: 994px){
   .nav{

    .nav-menu{
        display: block;
        width: 25px;
        cursor: pointer;
    }
    .nav-links{
        display: none;
    }
   }
   
    header {
        nav{

           }
        
        h1{
            font-size: 14pt;
        }
        a {
            font-size: 14pt;
        }
    }
    
}

@media screen and (max-width: 602px){
    .nav{
        height: 80px;
    }
    .navigation-container{
       
        li{
            &:not(:first-child){
             padding: 0;
            }
         }
    }
   
}