@import '../mixins';

.project-page{
    position: absolute;
    background: $card-blue;
    width: 100%;
    z-index: 10;
    // transform: translate(0px, -100%);
  
    top: 0;bottom: 0;right: 0;left: 0;
    flex-direction: column;
    gap: 2rem;
 
    .project-head{
        display: flex;
        justify-content: center;
        height: 90px;
        align-items: center;
        width: 100%;
        transition: border .3s ease-in;
        width: 90%;
        align-self: center;

        .project-escape{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            padding: .6rem;
            border: 2px solid $inactive-green;
            transition: all .3s ease-in;
            min-width: 100px;
            .escape-icon{
                width: 10px;
                height: 10px;
            }

            &:hover{
                @include active-buttons;
            }
        }

        .project-nav{
            flex: 1;
            display: flex;
            justify-content: right;
            
            .nav-con{
                display: flex;  
                gap: 2rem;
                .go-previous{
                    @include proj-nav;
                    img {
                        transform: rotate(180deg)
                    }
                }
                .go-next{
                    @include proj-nav;
                }
            }
        }
    }

    

    .project-header{
        border-bottom: 2px solid $active-green;
        text-align: center;
        width: 90%;
        align-self: center;
       
        .project-img{
            width: 90%;
            padding-bottom: 1rem;
        }

        .project-head-text{
            padding-bottom: 1.5rem;
        }
    }

    .project-body{
        padding-top: .5rem;
        width: 90%;
        align-self: center;
        font-size: calc($font-small - 3px);
        flex: 1;

        .cover-links{

        }
    }
    .project-footer{

        display: flex;
        .cover-links{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            font-size: 8pt;
            .cover-link{
                padding: .5rem;
                width: 100%;
                text-align: center;
                @include cover-link;
                img{
                    width: 25px;
                }
            }
        }
    }
    .project-splide-wrapper{
        height: 100%;
        .project-splide-track{

            height: 100%;
           .project-splide-list{
            height: 100%;
          
            .project-splide-slide{
                background: transparent;
                min-height: 100%;

                display: flex;
                flex-direction: column;
                .project-body{
                    flex: 4;    
                }

                .project-footer{
                    flex: 1;
                    .cover-links{
                        display: flex;
                        align-items: center;
                        .cover-link{
                        img{
                            width: 35px;
                            height: 35px;
                            
                        }
                    }
                    }
                }
            }
           }
                     
        }
    }
    
}