@import '../mixins';

.project{
    height: fit-content;
    // border: 2px solid white;
    .project-container{
        width: 90%;
        min-height: 100%;
        margin: 0 auto;

        gap: 1rem;
        
        .project-name{
            &:nth-child(4){
                text-align: right;
            }
        }

        .cover{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 1rem;
            
            border-bottom: 2px solid $inactive-green;
            padding-bottom: 2rem;
            padding-top: 2rem;
            .img-cover{
                min-width: 320px;
                max-width: 750px;
                // object-fit: contain;
                flex: 1;
            }

            .text-cover{
             
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .cover-text{
                    flex: 2;
                   
                }
                .cover-links{
                    
                
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 1rem;
                    flex: 1;
                    align-items: center;
                    
                    .cover-link{
                        
                        @include cover-link;
                        
                    }
                }
               
            }
            &:nth-child(7){
                border-bottom: 2px solid transparent;
                padding-bottom: 0;
            }
        }
    
    }

   
       

   

}



@media screen and (max-width: 1435px){
    .project{
        
        .cover{
            .text-cover{
                .cover-text{
                    // font-size: 2pt !important;
                    // font-size: .6vw !important;
                    font-size: clamp(7px, .6vw, .8vw);
                    
                }
                .cover-links{
                    .cover-link{
                        p{
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1165px){
    .project{
    
        .project-container{
          
            .cover{
                .text-cover{
                    .cover-text{
                    
                    }
                    .cover-links{
                        border: 2px solid transparent;
                        flex: 0;
                       
                       
                        .cover-link{
                            font-size: 4px;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 844px){

    .cover{
       
      
        .img-cover{
       
        }
    }
}

@media screen and (max-width: 770px){
   .project{
    .project-container{
       
        .project-name{
            margin-top: 2rem;
            text-align: center;
            a{
                font-size: 12px;
            }      

            &:nth-child(4){
                text-align: center;
            }
        }

        .cover{
            align-items: center;
            flex-direction: column;
            
            .text-cover{
                display: none;
            }
            .img-cover{
                min-width: 275px;
                max-width: 275px;
                
            }
            .mobile-cover{
             cursor: pointer;   
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
            .three-dots{
                display: flex;
                justify-content: center;
                gap: .5rem;
                padding-bottom: .5rem;
                .dots{
                    @include dots;
                }
            }
            }

            .cover-qrcode{
                content: url(../../assets/cover/qrcode/cover-qrcode-fixed.jpg);
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.01);
                    filter: drop-shadow(2px 4px 6px #5B3288);
                 
                }
            
            }

            .cover-shopee{
                content: url(../../assets/cover/shopee/cover-shopee-fixed.jpg);
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.01);
                    filter: drop-shadow(2px 4px 6px #EC6D19);
                
                }
            }
           .cover-alktunes{
            content: url(../../assets/cover/alktunes/cover-alktunes-fixed-mobile.jpg);
            transition: all .3s ease;
            &:hover{
                transform: scale(1.01);
                filter: drop-shadow(2px 4px 6px #000000);
                
            }
         }
        }
    }
   }
}